In [1]:
"""
知道 DataFrame 如何檢視欄位的型態數量以及各欄型態, 以及 Label Encoding / One Hot Encoding 如何寫?
"""

'\n知道 DataFrame 如何檢視欄位的型態數量以及各欄型態, 以及 Label Encoding / One Hot Encoding 如何寫?\n'

In [51]:
import os
import numpy as np
import pandas as pd

dir_data = './data/'
filepath_test = dir_data + 'application_test.csv'
filepath_train = os.path.join(dir_data, 'application_train.csv')

print(filepath_test)
print(filepath_train)

./data/application_test.csv
./data/application_train.csv

In [52]:
file_test = pd.read_csv(filepath_test)
file_train = pd.read_csv(filepath_train)

# file_test.dtypes.value_counts()
file_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

In [53]:
file_train.select_dtypes(include=['object']).apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [54]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
le_count = 0

for colm in file_train:
    if file_train[colm].dtype == 'object':
        if len(list(file_train[colm].unique())) <= 2:
            le.fit(file_train[colm])
            
            file_train[colm] = le.transform(file_train[colm])
            file_test[colm] = le.transform(file_test[colm])
            
            le_count += 1

print('%d columns were lable encoded.' % le_count)

3 columns were lable encoded.

In [60]:
file_train = pd.get_dummies(file_train)
print(file_train['CODE_GENDER_F'].head())
print(file_train['CODE_GENDER_M'].head())
print(file_train['NAME_EDUCATION_TYPE_Academic degree'].head())

0    0
1    1
2    0
3    1
4    0
Name: CODE_GENDER_F, dtype: uint8
0    0
1    1
2    0
3    1
4    0
Name: CODE_GENDER_F, dtype: uint8
0    1
1    0
2    1
3    0
4    1
Name: CODE_GENDER_M, dtype: uint8
0    0
1    0
2    0
3    0
4    0
Name: NAME_EDUCATION_TYPE_Academic degree, dtype: uint8

In [65]:
# 作業
hw_file_train = pd.read_csv(filepath_train)
sub_train = pd.DataFrame(hw_file_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [66]:
one_hot_encoded = pd.get_dummies(sub_train)
print(one_hot_encoded.shape)
one_hot_encoded.head()

(307511, 7)

,WEEKDAY_APPR_PROCESS_START_FRIDAY,WEEKDAY_APPR_PROCESS_START_MONDAY,WEEKDAY_APPR_PROCESS_START_SATURDAY,WEEKDAY_APPR_PROCESS_START_SUNDAY,WEEKDAY_APPR_PROCESS_START_THURSDAY,WEEKDAY_APPR_PROCESS_START_TUESDAY,WEEKDAY_APPR_PROCESS_START_WEDNESDAY
0,0,0,0,0,0,0,1
1,0,1,0,0,0,0,0
2,0,1,0,0,0,0,0
3,0,0,0,0,0,0,1
4,0,0,0,0,1,0,0

In [67]:
one_hot_encoded['WEEKDAY_APPR_PROCESS_START_MONDAY'].head()

0    0
1    1
2    1
3    0
4    0
Name: WEEKDAY_APPR_PROCESS_START_MONDAY, dtype: uint8