In [1]:
import numpy as np
import pandas as pd

In [29]:
data = {
    'name': [ 'paper', 'pen', 'eraser', 'pencil' ], 
    'price': np.random.randint(100, size=4)
}

df = pd.DataFrame(data)
df

     name  price
0   paper     51
1     pen     50
2  eraser     96
3  pencil     25

In [30]:
print('mean=%i' %(df['price'].mean()))

mean=55

In [38]:
dfSorted = df.sort_values(by = 'price', ascending = False)
dfSorted

     name  price
2  eraser     96
0   paper     51
1     pen     50
3  pencil     25

In [39]:
dfSorted['name'].head(1)

2    eraser
Name: name, dtype: object